<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>AddEmp</servlet-name>
  	<display-name>AddEmp</display-name>
  	<description></description>
  	<servlet-class>com.controller.AddEmp</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>GetEmp</servlet-name>
  	<display-name>GetEmp</display-name>
  	<description></description>
  	<servlet-class>com.controller.GetEmp</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AddEmp</servlet-name>
  	<url-pattern>/addemp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetEmp</servlet-name>
  	<url-pattern>/getemp</url-pattern>
  </servlet-mapping>
  
 
</web-app>
